* {
  margin: 0 auto;
  padding: 0 auto;
}

html,body {
  width: 100%;
}

header {
    display: block;
    
    height: 100px;
    background-color: black;
    
}

header h1 {
    color: white;
    text-align: center;
    padding-top: 25px;
    
}

nav .navigation {
    display: grid;
    background-color: black;
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

nav .navigation div {
    margin: auto;
    color: wheat;
    font-size: 1.2em;
    font-family: helvetica;
    font-weight: bold;
}

nav .navigation div:hover {
    color: cadetblue;
}

.wrapper {
    
}


.wrapper section .one{
    /* background-size: cover;
    background-image: url('http://i.imgur.com/u2oPC.jpg'); */
    width: 100%;
    height: 600px;
/*     position: relative;
 */   
    background-color: wheat;
    display: flex;
}


.wrapper section .one h1 {
    /* position: absolute;
    top: 200px;
    left: 350px; */
    text-align: center;
    color: black;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}
.wrapper section .two {
    background-color: wheat;
    width: 100%;
}

.wrapper section .two h2 {
    font-size: 2.5em;
    color: cadetblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 9%;
}

.wrapper section .two_text  {
    border: 2px solid black;
    width: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 1px black;
    margin-top: 20px;
}
.wrapper section .two_text p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 25px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper section .three {
    background-color: wheat;
    width: 100%;
    display: inline-block;
}

.wrapper section .three h2 {
    font-size: 2.5em;
    color: cadetblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 9%;
}

.wrapper section .three .three_text p{
    width: 45%;
    margin-left: 9%;
    margin-top: 20px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;


}
.wrapper section .three .skills_logo {
    width: 45%;
    float: right;

}

.wrapper section .three .skills_logo img {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.wrapper section .quatre{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper section .quatre h2 {
    font-size: 2.5em;
    color: cadetblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 9%;
}

.wrapper section .forth_box {
    display: flex;
    margin-left: 9%;
    margin-right: 9%;
}

.wrapper section .forth_box .small_box {
    width: 300px;
    margin: 10px;
    border: 2px solid black;
}

.wrapper section .forth_box .small_box h3 {
    text-align: center;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
}

.wrapper section .forth_box .small_box p {
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.wrapper section .cinq {
    background-color: brown;
}

.wrapper section .cinq h2 {
    font-size: 2.5em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.wrapper section label {
    float: left;
    
}
.wrapper section input {
    float: left;
}


footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: block;
}
footer .end {
    padding-top: 30px;
    text-align: center;
    color: wheat;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
   
   body {
       width: 100%;
   }   
};
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    